{% extends "base.html" %}
{% load bootstrap3 %}
{% load staticfiles %}

{% bootstrap_css %}
{% bootstrap_javascript %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'extra_css/viz.css' %}">
{% endblock %}

{% block bootstrap3_content %}
    <div class="container" id="viz-container">
        <h1> {{ visualization.name }} </h1>
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src={{ visualization.embedded }}></iframe>
        </div>
    </div>
{% endblock %}