<footer class="navbar-default navbar-inverse navbar-bottom">
    <div class="container">
        <div class="col-md-4">
            <h4>Nota Aclaratoria: </h4>
            <p>Los datos representados en este "dashboard" o tablero varían en la medida que éstos son actualizados. Se recomienda anotar la fecha y hora en la que obtuvo la información. Los datos provistos son responsablidad de la instrumentalidad gubernamental y el coordinador de datos de dicha agencia a cargo de publicarlos. Cualquier pregunta o comentario debe presionar el botón de Menu ubicado en la parte superior derecha de la visualización y desde ahí dirigir su comentario presionando el botón de "Discuss" e inmediatamente será publicado.</p>
        </div>
        <div class="col-md-3">
        </div>
        <div class="col-md-5">
            <h4>Políticas:</h4>
                <ul class="nav nav-pills nav-stacked">
                <li><a href="https://data.pr.gov/Abierto/Data-Classification-and-Procedure/9ems-h6tw">Política de Clasificación de Datos</a></li>
                <li><a href="https://data.pr.gov/Abierto/Pol-tica-De-Privacidad/sces-am5s">Política de Privacidad</a></li>
                <li><a href="https://data.pr.gov/Abierto/Normas-De-Uso/eipw-ak5n">Normas de uso</a></li>
                <li><a href="https://data.pr.gov/widgets/ykn5-ifqm">Manual de datos abiertos</a></li>
                <li><a href="http://www2.pr.gov/datapr/Pages/default.aspx">Política de datos abiertos</a></li>
                </ul>
        </div>
    </div>
</footer>