{% extends "base.html" %}
{% load bootstrap3 %}
{% load staticfiles %}

{% bootstrap_css %}
{% bootstrap_javascript %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'extra_css/table.css' %}">
{% endblock %}

{% block bootstrap3_content %}
    <div class="container" id="table-container">
        <br>
        {% if messages %}
            <div class="alert alert-danger" role="alert">
                <ul class="messages">
                    {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        {% for k, v in table.items %}
            <h1> <img src="{% static category.get_icon %}"> {{ k }}</h1>
            <br>
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr style="background-color: {{ category.get_color }}">
                            <th>Información</th>
                            <th>Mes Actual</th>
                            <th>Valor Actual</th>
                            <th>Mes Previo</th>
                            <th>Valor Previo</th>
                            <th>Año Previo</th>
                            <th>Valor Año Previo</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if v %}
                            {% for data in v %}
                                <tr>
                                    <td>{{ data.data }}</td>
                                    <td>{{ data.latest_month.date|date:"m/Y" }}</td>
                                    <td>{{ data.latest_month.value }} -
                                        {{ data.percent_change }}%
                                        {% if data.trend_direction %}
                                            {% if data.trend_positive %}
                                                <img src="{% static "images/arrow-up-green.svg" %}">
                                            {% else %}
                                                <img src="{% static "images/arrow-up-red.svg" %}">
                                            {% endif %}
                                        {% else %}
                                            {% if data.trend_positive %}
                                                <img src="{% static "images/arrow-down-red.svg" %}">
                                            {% else %}
                                                <img src="{% static "images/arrow-down-green.svg" %}">
                                            {% endif %}
                                        {% endif %}
                                    </td>
                                    <td>{{ data.previous_month.date|date:"m/Y" }}</td>
                                    <td>{{ data.previous_month.value }}</td>
                                    <td>{{ data.month_last_year.date|date:"m/Y" }}</td>
                                    <td>{{ data.month_last_year.value }}</td>
                                </tr>
                            {% endfor %}
                        {% else %}
                            <ul>
                                <li><a href="/"><strong>There are no data points. Please add in admin.</strong></a></li>
                            </ul>
                        {% endif %}
                    </tbody>
                </table>
            </div>
        {% endfor %}
    </div>
{% endblock %}